doctype html
html
  head
    title Testing Pages
    link(rel='stylesheet', href='/stylesheets/testing.css')

  body
    header Testing Page

    nav
      ul
        li
          a(href="/tests") sitemap
        li
          a(href="/tests/tables") tables

    div#content
      block content



