doctype html
html
  head
    title Testing Pages
    link(rel='stylesheet', href='/stylesheets/testing.css')

  body
    header Testing Page

    div#content
      block content

    script(src='/javascripts/testing.js')

